{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container-fluid text-center">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">About</div>
        <div class="news-cover">
            <img class="rounded-circle" src="/static/images/news.jpg" width="200px" alt="...">
        </div>
        <div class="card-body">
            <h1 class="nliv card-title">N Live</h1>
          <h5 class="card-title">We Report to You</h5>
          <p class="card-text">We are a team of seasoned and daring, young journalists of diverse nationalities. World is One, N Live, examines global issues with in-depth analysis. Using our social media platforms we open the conversation about our world with our users. We provide much more than the news of the day. Our aim to empower people to explore their world. we bring you news on the moment, by the moment.
            We deliver information that is not biased. We are journalists who are neutral to the core and non-partisan when it comes to the politics of the world. People are tired of biased reportage and we stand for a globalised united world. So for us the World is truly One.</p>
        </div>
      </div>
  </div>
{% endblock body %}
